<nav class="navbar navbar-default" >
	<ul class="nav navbar-nav">
		<li><a href='#/customers'>Customers</a></li>
		<li><a href='#/orders'>Orders</a></li>
	</ul>
</nav>
<main>
<div ng-view  class="slide">
</div>
</main>
	
