<div ng-init="name='James'">
	<div ng-hide="isHidden">
		Name: <input type="text" ng-model="name" />	{{ name }}
	</div>	
	Hide: <input type="checkbox" ng-model="isHidden" />
	<br />
	<button class="btn btn-primary" ng-click="name='Michelle'">Change name</button>
</div>
<div ng-init="people=[{name:'John', city:'London'}, 
					{name:'Paul', city:'Liverpool'}, 
					{name:'George', city:'Glasgow'}, 
					{name:'Ringo', city:'Manchester'}]">
	<ul>
		<li ng-repeat="person in people">{{person.name}} -- {{person.city}} </li>
	</ul>

	<table class="table table-striped">
		<thead>
		<tr>
			<th>Name</th>
			<th>City</th>
		</tr>	
		</thead>
		<tbody>
			<tr  ng-repeat="person in people">
				<td> {{person.name}} </td>
				<td> {{person.city}} </td>
			</tr>
		</tbody>		
	</table>
</div>
