<div ng-init="name='James'">
	<div ng-hide="isHidden">
		Name: <input type="text" ng-model="name" />	{{ name }}
	</div>	
	Hide: <input type="checkbox" ng-model="isHidden" />
	<br />
	<button class="btn btn-primary" ng-click="name='Michelle'">Change name</button>
</div>
<div ng-init="people=[{name:'John', city:'London', joined:'2014-12-02', orderTotal:212.5}, 
					{name:'Paul', city:'Liverpool', joined:'2014-11-02', orderTotal:312.1}, 
					{name:'George', city:'Glasgow', joined:'2014-10-02', orderTotal:435.99}, 
					{name:'Ringo', city:'Manchester', joined:'2014-11-12', orderTotal:111}]">
	<ul>
		<li ng-repeat="person in people">{{person.name}} -- {{person.city}} </li>
	</ul>

	Name: <input type="text" data-ng-model="nameText" />

	<table class="table table-striped">
		<thead>
		<tr>
			<th>Name</th>
			<th>City</th>
			<th>Total order</th>
			<th>Joined</th>			
		</tr>	
		</thead>
		<tbody>
			<tr  ng-repeat="person in people | filter:nameText | orderBy: 'name'">
				<td> {{person.name}} </td>
				<td> {{person.city}} </td>				
				<td> {{person.orderTotal | currency }} </td>
				<td> {{person.joined | date:'dd-MM-yyyy' }} </td>
			</tr>
		</tbody>		
	</table>
</div>
